<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="vue-dev/vue-dev/dist/vue.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <script src="jquery-1.12.4.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.0/vue-resource.js"></script>
    <title>vue</title>
    <style>
      .fontcolor{
          color:red;
      }
        .bgcolor{
            background-color: blue;

        }
    </style>
   <script>
       window.onload = function () {
           //过滤器

           new Vue({ //c
               el:'#box',
               data:{
                   msg:'chenjia vue',
                   msg2:12,
                   msg3:true,
                   arr:['apple','orange'],
                   json:{a:'apple',b:'pear'},
                   a:true,
                   myData:[],
                   username:'',
                   age:'',
                   nowIndex:-100,
                   t1:'',
                   url:'https://www.baidu.com/img/bd_logo1.png',
                   w:200,
                   r:'fontcolor',
                   b:'bgcolor'

               },
               methods:{
                   add:function () {
                       //this.arr.push('tomato');
                       this.myData.push({
                           name:this.username,
                           age:this.age

                       });
                       this.username='';
                       this.age='';
                   },
                   deleteMsg:function(n) {
                       if(n == -2){
                           this.myData=[];
                       }else{
                           this.myData.splice(n, 1);
                       }

                   },
                   get:function () {
                      this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',{

                          params: {  wd:this.t1}


                      },{
                          jsonp:'cb'
                      }).then(function (res) {
                          //alert(res.data);
                          this.myData=res.data.s;
                      },function (res) {
                          alert(res.status+"err");
                      });
                         // alert(1);
                   },
                   show:function (ev) {
                       //alert(ev.keyCode);
                     //
                           alert("您按了回车");
                     //  }
                       //ev.cancelBubble = true;
                      // ev.preventDefault();
                   },
                   show2:function () {
                       alert(2);
                   }

               },
               filters: {
                   capitalize: function (value) {
                       if (!value) return '';
                       value = value.toString();
                       return value.charAt(0).toUpperCase() + value.slice(1)
                   }
               }
           });
       }
   </script>
</head>
<body>

<div class="container" id="box">
<!--   <input type="text" v-model="msg">
    <br>
    {{msg}}
    <br>
    <span    an v-once>{{msg}}</span>
    <br>
    <span v-html="msg"></span>-->
    <!--{{msg|capitalize}}-->
    <!--<input type="button" value="确定" @click="get()">-->
   <!-- <input type="text" name="" id="" v-model="t1" @keyup="get()">
    <ul>
        <li v-for="value in myData">{{value}}</li>
    </ul>
    <p v-show="myData.length==0">暂无数据</p>-->

    <!--<input type="button" value="ok" @contextmenu.prevent="show()">-->
    <!--<input type="text" name="" id="" @keyup.up="show()">-->
    <!--<img src="{{url}}" alt="">-->

    <!--<img :src="url" alt="" :width="w">-->
    <strong :class="{fontcolor:true}">文字</strong>
</div>
</body>
</html>
